In [2]:
import pandas as pd
from sqlalchemy import create_engine
from pandas_profiling import ProfileReport
import os
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import datetime as datetime
import pickle

In [3]:
with open('lending_club_wrangling_pick.pkl', 'rb') as pickle_file:
    df = pickle.load(pickle_file)

In [4]:
df.shape

(2260668, 108)

Can we identify any numerical values as categorical data?

In [12]:
df.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('<M8[ns]')], dtype=object)

In [63]:
df.select_dtypes('number') == 1.0 | df.select_dtypes('number') == 0.0

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [bool]

In [42]:
df_num_categorial.sum().sort_values(ascending = False)

policy_code           2260668
inq_last_6mths         584390
num_tl_op_past_12m     558928
open_il_24m            439811
open_acc_6m            434092
                       ...
total_bc_limit              0
total_rev_hi_lim            0
pct_tl_nvr_dlq              0
tot_hi_cred_lim             0
loan_amnt                   0
Length: 88, dtype: int64

In [50]:
df_num_index = df_num_categorial.columns[(df_num_categorial == 0.0).all()]

In [51]:
df[df_num_index]

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,last_fico_range_high,last_fico_range_low,tot_coll_amt,total_rev_hi_lim,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bc_limit,total_il_high_credit_limit
0,3600.0,3600.0,3600.0,13.99,123.03,675.0,679.0,4421.723917,4421.72,3600.00,564.0,560.0,722.0,9300.0,76.9,178050.0,2400.0,13734.0
1,24700.0,24700.0,24700.0,11.99,820.28,715.0,719.0,25679.660000,25679.66,24700.00,699.0,695.0,0.0,111800.0,97.4,314017.0,79300.0,24667.0
2,20000.0,20000.0,20000.0,10.78,432.66,695.0,699.0,22705.924294,22705.92,20000.00,704.0,700.0,0.0,14000.0,100.0,218418.0,6200.0,14877.0
3,35000.0,35000.0,35000.0,14.85,829.90,785.0,789.0,31464.010000,31464.01,19102.35,679.0,675.0,0.0,67300.0,100.0,381215.0,62500.0,18000.0
4,10400.0,10400.0,10400.0,22.45,289.91,695.0,699.0,11740.500000,11740.50,10400.00,704.0,700.0,0.0,34000.0,96.6,439570.0,20300.0,88097.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260694,24000.0,24000.0,24000.0,12.79,543.50,665.0,669.0,15760.500000,15760.50,9712.61,709.0,705.0,0.0,50500.0,100.0,102517.0,0.0,52017.0
2260695,24000.0,24000.0,24000.0,10.49,515.74,695.0,699.0,15008.530000,15008.53,10048.58,734.0,730.0,0.0,55600.0,75.9,227883.0,27900.0,172283.0
2260696,40000.0,40000.0,40000.0,10.49,859.56,705.0,709.0,24903.930000,24903.93,16747.41,724.0,720.0,0.0,13300.0,75.7,55970.0,12300.0,42670.0
2260697,24000.0,24000.0,24000.0,14.49,564.56,660.0,664.0,6755.400000,6755.40,3521.91,594.0,590.0,0.0,25900.0,96.2,84664.0,20700.0,58764.0
2260698,14000.0,14000.0,14000.0,14.49,329.33,660.0,664.0,9621.250000,9621.25,5543.88,669.0,665.0,0.0,14200.0,81.8,163804.0,9500.0,34169.0